@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-main-red: #AB0E0E;
  --color-main-red-hover: #E81717;
  --color-dark-red: #8B0808;
  --color-light-red: #F5EEEC;
  --color-text-white: #F9F9F9;
  --color-off-white: #F5EEEC;
  --color-border-gray: #ABABAB;
  --font-main-font: 'Montserrat', sans-serif
}